module.exports = {
    from: #FROM,
    to: #TO,
    regex: true,
    files: #FILES,
    // test data is not shipped and some of it is read-only (cipd), which aborts the run
    ignore: ['**/test_data/**', '**/test/data/**'],
}